In [ ]:
import pandas as pd
# 1. Tải dữ liệu từ file CSV
file_path = 'dulieuxettuyendaihoc.csv'
data = pd.read_csv(file_path)

In [ ]:
# 2. Xác định và phân loại dữ liệu định tính và định lượng
qualitative_vars = ['GT', 'DT', 'KV', 'KT']
quantitative_vars = [
    'T1', 'L1', 'H1', 'S1', 'V1', 'X1', 'D1', 'N1',
    'T2', 'L2', 'H2', 'S2', 'V2', 'X2', 'D2', 'N2',
    'T6', 'L6', 'H6', 'S6', 'V6', 'X6', 'D6', 'N6',
    'DH1', 'DH2', 'DH3'
]

In [ ]:
# 3. In ra 10 dòng đầu tiên
print("10 dòng đầu tiên:")
print(data.head(10))

10 dòng đầu tiên:
   STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...   X6   D6   N6  GT  \
0    1  7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  ...  6.6  7.6  5.9   F
1    2  5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  ...  6.6  6.1  4.4   M
2    3  5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  ...  7.9  8.1  4.6   M
3    4  6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  ...  7.1  7.3  7.4   M
4    5  6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  ...  6.1  7.5  7.2   M
5    6  9.3  7.6  7.9  8.6  7.0  7.3  7.7  7.9  9.6  ...  5.7  8.0  7.8   M
6    7  2.8  3.9  5.5  6.9  5.0  7.3  4.6  5.2  4.4  ...  6.6  6.0  6.0   F
7    8  8.3  6.0  7.6  5.1  7.5  4.7  5.8  7.2  6.7  ...  7.1  6.8  7.0   F
8    9  6.5  6.3  7.6  6.0  5.5  7.1  6.3  5.0  7.3  ...  9.1  7.9  6.1   F
9   10  7.3  5.9  4.7  7.1  6.7  7.9  6.7  7.7  8.0  ...  6.4  6.1  7.8   F

   DT   KV   DH1   DH2   DH3  KT
0 NaN  2NT  3.25  3.25  4.50  A1
1 NaN    1  6.00  4.00  3.50   C
2 NaN    1  5.00  6.75  4.00   C
3 NaN    1  4.25  4.25  5.25  D1
4 NaN  2NT  4.25  4.50  5.00   A
5 NaN    1  1.50  4.00  6.00  D1
6 NaN    2  6.50  6.75  5.25   C
7 NaN    2  3.75  4.50  4.25  D1
8 NaN    1  3.50  3.50  6.75  D1
9 NaN    1  4.00  4.75  5.50  D1

[10 rows x 56 columns]

In [9]:
# 3. In ra 10 dòng cuối cùng
print("10 dòng cuối cùng:")
print(data.tail(10))

10 dòng cuối cùng:
    STT   T1   L1   H1   S1   V1   X1   D1   N1   T2  ...   X6   D6   N6  GT  \
90   91  8.1  7.7  9.1  8.5  6.1  8.6  8.8  7.3  8.8  ...  8.3  8.7  7.8   M
91   92  7.8  6.5  6.7  5.4  6.2  4.8  5.9  4.4  8.9  ...  7.2  7.4  7.0   M
92   93  5.0  6.6  6.5  7.2  5.8  6.7  6.4  6.0  6.8  ...  5.9  6.7  5.8   M
93   94  5.2  5.2  6.8  7.9  6.6  8.9  7.6  5.3  6.8  ...  8.7  7.8  5.0   M
94   95  5.8  5.9  7.6  6.1  5.3  8.1  6.1  5.0  6.4  ...  7.3  6.8  5.3   M
95   96  8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  ...  6.3  6.1  6.2   F
96   97  3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  ...  7.9  7.5  4.4   F
97   98  8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  ...  9.6  8.4  5.8   M
98   99  2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  ...  6.6  5.2  5.9   M
99  100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  ...  5.6  6.6  5.8   M

    DT   KV   DH1   DH2   DH3  KT
90 NaN    2  6.25  4.00  6.50   A
91 NaN  2NT  4.75  4.75  4.50   A
92 NaN    1  3.25  5.25  4.25   A
93 NaN    1  3.50  4.25  5.00   A
94 NaN    1  4.25  2.50  4.75   A
95 NaN    1  5.25  1.50  6.25   C
96 NaN    1  5.25  3.75  4.75   C
97 NaN  2NT  7.00  8.00  4.00   C
98 NaN    1  5.00  3.50  5.50   C
99 NaN  2NT  5.25  2.50  4.25   C

[10 rows x 56 columns]

In [10]:
missing_data = data['DT'].isnull().sum()
print(f"Số lượng dữ liệu thiếu ở cột Dân tộc: {missing_data}")

Số lượng dữ liệu thiếu ở cột Dân tộc: 97

In [16]:
# Hiệu chỉnh dữ liệu thiếu bằng cách điền giá trị 0
data['DT'] = data['DT'].fillna(0)

In [17]:
# Kiểm tra lại dữ liệu sau khi hiệu chỉnh
missing_data_after = data['DT'].isnull().sum()
print(f"Số lượng dữ liệu thiếu ở cột Dân tộc sau khi hiệu chỉnh: {missing_data_after}")

Số lượng dữ liệu thiếu ở cột Dân tộc sau khi hiệu chỉnh: 0

In [18]:
# Thống kê và xử lý dữ liệu thiếu cho các biến điểm số
for col in quantitative_vars:
    missing = data[col].isnull().sum()
    if missing > 0:
        mean_value = data[col].mean()
        data[col].fillna(mean_value, inplace=True)
        print(f"Số lượng dữ liệu thiếu ở cột {col}: {missing}, đã điền giá trị trung bình: {mean_value}")

In [19]:
# Tạo các biến TBM1, TBM2, TBM3
data['TBM1'] = (data['T1']*2 + data['L1'] + data['H1'] + data['S1'] + data['V1']*2 + data['X1'] + data['D1'] + data['N1']) / 10
data['TBM2'] = (data['T2']*2 + data['L2'] + data['H2'] + data['S2'] + data['V2']*2 + data['X2'] + data['D2'] + data['N2']) / 10
data['TBM3'] = (data['T6']*2 + data['L6'] + data['H6'] + data['S6'] + data['V6']*2 + data['X6'] + data['D6'] + data['N6']) / 10

In [20]:
# Tạo các biến xếp loại XL1, XL2 và XL3
def xep_loai(tbm):
    if tbm < 5.0:
        return 'Y'
    elif 5.0 <= tbm < 6.5:
        return 'TB'
    elif 6.5 <= tbm < 8.0:
        return 'K'
    elif 8.0 <= tbm < 9.0:
        return 'G'
    else:
        return 'XS'

data['XL1'] = data['TBM1'].apply(xep_loai)
data['XL2'] = data['TBM2'].apply(xep_loai)
data['XL3'] = data['TBM3'].apply(xep_loai)

In [21]:
# Tạo các biến US_TBM1, US_TBM2 và US_TBM3
def min_max_normalization(series):
    return (series - series.min()) / (series.max() - series.min()) * 4

data['US_TBM1'] = min_max_normalization(data['TBM1'])
data['US_TBM2'] = min_max_normalization(data['TBM2'])
data['US_TBM3'] = min_max_normalization(data['TBM3'])

In [22]:
# Tạo biến kết quả xét tuyển KQXT
def ket_qua_xet_tuyen(row):
    if row['KT'] in ['A', 'A1']:
        score = (row['DH1']*2 + row['DH2'] + row['DH3']) / 4
    elif row['KT'] == 'B':
        score = (row['DH1'] + row['DH2']*2 + row['DH3']) / 4
    else:
        score = (row['DH1'] + row['DH2'] + row['DH3']) / 3
    return 1 if score >= 5.0 else 0

data['KQXT'] = data.apply(ket_qua_xet_tuyen, axis=1)